@media screen and (max-width: 560px) {
  .header-nav {
    display: none;
  }
  /* .header-image */
  .header-main {
    width: 100%;
    flex-direction: column;
  }
  .header-text {
    width: 70%;
    margin-left: 5%;
  }
  .header-main {
    padding: 0%;
  }
  header .header-image img {
    width: 80%;
  }

  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .copa-info {
    flex-direction: column;
  }

  .copa-text {
    margin-bottom: 2rem;
    margin-left: 5%;
  }
  .copa-text h2 {
    font-size: 2rem;
  }
  .copa-des {
    width: 80%;
  }
  .copa-image img {
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 5rem;
  }
  .winners {
    margin: 0 auto;
    margin-top: 15rem;
  }
  .newslater {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo img {
    width: 80%;
  }
}
@media screen and (min-width: 561px) and (max-width: 850px) {
  header .header-image img {
    width: 433.01px;
  }
  .header-text h1 {
    font-size: 40px;
  }
  .header-nav {
    display: none;
  }
  .header-main {
    flex-direction: row;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}
