/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* common styles */
body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

a{
    text-decoration: none;
}

/* header-style */

header{
    background-color:#2D25A0 ;
    width:100%;
    
    
    
}



.nav{
   
    
}

header ul{

    list-style: none;
    display: flex;
    
    
}

header ul li{
    margin-top: 52px;
    margin-left: 36px;

}

header  ul li a{
    color: #ffffff;
    font-weight: 500;
}

.header-main{
    display: flex;
    justify-content:space-around;
   
    
    
}

.header-text{
   
}
 .header-text h1{
     color: #ffffff;
     font-size: 64px;
     font-weight: 700px;
     
 }
 .header-text button{
    background: #E02C6D;
    font-size: 16px;
    font-weight: 500px;
    padding: 10px 24px;
    border: none;

 }

 .header-text button a{
     color:#ffffff
 }
 header .header-image img{
     width: 556.01px;
     height:438px;
 }

 .header-text button:hover{
     transform: scale(1.2);
     
 }

